@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Tapestry&display=swap');
@import "tailwindcss";

#root {
  width: 100%;
  height: 100%;
  font-family: "Bungee", sans-serif;

}

@theme {
  /* Paleta personalizada */
  --color-blanco: #F8F2DC;
  --color-rojo: #CD4631;
  --color-azul: #81ADC8;
  --color-marron-claro: #DEA47E;
  --color-marron-oscuro: #623D28;
}