@import "tailwindcss";

#root {
  width: 100%;
  height: 100%;
}

@theme {
  /* Paleta personalizada */
  --color-blanco: #F8F2DC;
  --color-rojo: #CD4631;
  --color-azul: #81ADC8;
  --color-marron-claro: #DEA47E;
  --color-marron-oscuro: #623D28;
}